<link rel="stylesheet" href="/css/belowNav.css">
<div id="belowNav">
    <div class="left">
        <ul>
            <li><a href="">Building</a></li>
            <li>></li>
            <li><a href="">Floor</a></li>
        </ul>
    </div>
    
    <div class="right">
        <input type="text" placeholder="Search here">
        <button id="search"><img src="/images/Group 19.png" alt=""></button>
    </div>
</div>
